.main-content {
    padding: 0!important;
  }
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .main-content {
        padding: 1rem 1rem 0!important;
    }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .main-content {
        padding: 1.5rem 1.5rem 0.5rem!important;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .main-content {
        padding: 2.25rem 2.25rem 0.75rem!important;
    }
    .impersonate {
      font-size:medium;
    }
  }
  