
<div [nbSpinner]="loading" nbSpinnerStatus="info">
  <nb-card>
    <nb-card-header>Hello Fellow Outdoor Enthusiasts!</nb-card-header>
    <nb-card-body>
      <div class="mb-4 row d-flex align-items-end">
        <!-- Add new Person button -->
        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
          <button type="button" class="btn btn-primary ps-3" (click)="onCreateClick()">
            <nb-icon class="btn-icon" icon="plus-outline"></nb-icon>Add New Person
          </button>
        </div>
        <!-- Filter list by favorite activity -->
        <div class="col-12 col-sm-7 col-md-6 mt-2 mt-md-0 d-flex align-items-center">
          <!-- <label for="favActivity">Filter by favorite activity: </label> -->
          <ng-select [items]="activities" bindLabel="label" bindValue="value" placeholder="Filter By Favorite Activity"
            ([ngModel])="favActivity" id="favActivity" appendTo="body" (change)="onActivityChange($event)">
          </ng-select>
        </div>
      </div>
      <!-- List of Persons -->
      <table class="table table-bordered condense-table-view">
        <thead>
          <tr>
            <th scope="col"><span class="visually-hidden">Actions</span>&nbsp;</th>
            <th scope="col">Name</th>
            <th scope="col">Favorite Outdoor Activity</th>
            <th scope="col">Favorite Location</th>
            <th scope="col">Favorite Season</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons">
            <th data-label='Actions:' scope="row">
              <a class="me-1" aria-label="Edit Person" (click)="onEditClick(person.id)">
                <span class="visually-hidden">Edit Person</span>
                <nb-icon icon="edit-outline" nbTooltip="Edit Person"></nb-icon>
              </a>
            </th>
            <td data-label='Name:'>{{person?.name}}</td>
            <td data-label='Activity:'>{{person?.activity | replaceIdWithValue: activities:'value':'label' }}</td>
            <td data-label='Location:'>{{person?.location | replaceIdWithValue: locations:'value':'label' }}</td>
            <td data-label='Season:'>{{person?.season | replaceIdWithValue: seasons:'value':'label' }}</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>